      <header id="home">  
        <div id="wrapper">
            <div class="overlay"></div>
        
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                        Choose a game
                        </a>
                    </li>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#tic">Tic-tac-tew</a>
                    </li>
                    <li>
                        <a href="#Checkrs">Checkrs</a>
                    </li>
                    <li>
                        <a href="#safe">The safe</a>
                    </li>

                    {{!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dropdown heading</li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                    </li>--}}
                
                    <li>
                        <a href="#Memory">Memory game</a>
                    </li>
                    <li>
                        <a href="#Contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h1 >The ultimate games site<br/>
                            <span id="span1">Play,<span/><span id="span2"> Enjoy,</span>
                            <span id="span3"> Have fun</span></h1>   
         {{#each users}}
        <tr>
            
            <td  id="{{id}}" >{{id}}</td>
            <td>aaa{{firstname}}</td>
            <td>aaa{{lastname}}</td>
            <td>aa{{email}}</td>
            <td>aa{{username}}</td>
            <td>aa{{password}}</td>
            
        </tr>
        {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
      </header> 
      <section id="tic">
          <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                            <div class="headline">
					            <h2>Tic-tac-toe</h2>
				            </div>
                            <p class="main-ruels">
								Since the goal is to get 3 in a row, each person must switch taking turns, first X, then O. Players must use the board given to them, they cannot add extra sides on to the board.
								In order to win, the 3 letters must all connect in a straight line in one direction, up or down, left or right, or diagonally.
							</p>  
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
					<div class="row" >
						<div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 
                        col-sm-offset-1 ImgDiv">
                            <a href="https://playtictactoe.org/"><div>To play tic tac toe for one</div>
                            <img src="images/background.jpg" alt="press here to play"></a>
                        </div>
						<div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 
                        col-sm-offset-2 ImgDiv">
							<a href = "/games/tictacto.html"><div>To play tic tac toe for two</div>
                            <img src="images/background.jpg" alt="press here to play"></a>
						</div>
					</div>
				</div>
           </section>

           <section id="Checkrs">
          <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                            <div class="headline">
					            <h2>Checkrs</h2>
				            </div>
                            <p class="main-ruels">
								A player can move in two ways. A piece can be moved forward, diagonally, to the very next dark square. If one 
							player's piece, the other player's piece, and an empty square are lined up, then the first player must "jump"
							the other player's piece. The first player jumps over the other player's piece onto the empty square and takes
							the other player's piece off the board. A player can also use one piece to make multiple jumps in any one single
							turn, provided each jump continues to lead immediately into the next jump and in a straight line. Sometimes a player may have the option or a choice of which opponent piece he must jump. In such cases, he may then choose which to jump. If you keep your hand on any piece when you're moving, you have the choice to put it back and move another piece. In English draughts, players can only jump other pieces forwards, whereas in Russian draughts an
							d international draughts, players can jump backwards.
							</p>  
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
					<div class="row" >
						<div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 
                        col-sm-offset-1 ImgDiv">
                            <a href="/games/checkers.html"><div>To play Checkrs for two</div>
                            <img src="images/chekcers2.png" style="height: 260px" alt="press here to play"></a>
                        </div>
						<div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 
                        col-sm-offset-2 ImgDiv">
							<a href = "http://www.freebackgrounds.com/checkers.htm"><div>To play Checkrs for one</div>
                            <img src="images/chekcers1.jpg" alt="press here to play"></a>
						</div>
					</div>
				</div>
           </section>

           <section id="safe">
          <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                            <div class="headline">
					            <h2>The safe</h2>
				            </div>
                            <p class="main-ruels">
								Are you a master safe cracker? Unlock all the puzzle poxes to help crack the safe.<br>
								I warn you, its not as easy as it sounds. Use the mouse to solve the puzzles.
							</p>  
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
					<div class="row" >
						<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-10 
                        col-sm-offset-1 ImgDiv">
                            <a href="/games/keyCode-Generic%20Function.html"><div>The safe</div>
                            <img src="images/safe.jpg" alt="press here to play"></a>
                        </div>
					</div>
				</div>
           </section>

           <section id="Memory">
          <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                            <div class="headline">
					            <h2>Memory game</h2>
				            </div>
                            <p class="main-ruels">
								Turn over any two cards.
								If the two cards match, keep them.
								If they don't match, turn them back over.
								Remember what was on each card and where it was.
								Watch and remember during the other player's turn.
								The game is over when all the cards have been matched.
								The player with the most matches wins..
							</p>  
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
					<div class="row" >
						<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-10 
                        col-sm-offset-1 ImgDiv">
							<a href = "/games/memoryGameAdvance.html"><div>To play the Memory game </div>
                            <img src="images/memo2.jpg" style="height: 250px" alt="press here to play"></a>
						</div>
					</div>
				</div>
           </section>

           <section id="Contact">
                <div class="contactt">
                    <h1>Contact</h1>
                        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                            <form action=" " method="post" autocomplete="on">
                                <p>
                                    <label for="username" class="icon-user"> Name
                                        <span class="required">*</span>
                                    </label>
                                    <input type="text" name="username" id="username" required="required" placeholder="Your Name" />
                                </p>

                                <p>
                                    <label for="usermail" class="icon-envelope"> E-mail address
                                        <span class="required">*</span>
                                    </label>
                                    <input type="email" name="usermail" id="usermail" placeholder="I promise I hate spam too!" required="required" />
                                </p>

                                <p>
                                    <label for="subject" class="icon-bullhorn"> Subject</label>
                                    <input type="text" name="subject" id="subject" placeholder="What would you like to talk about?" />
                                </p>

                                <p>
                                    <label for="message" class="icon-comment"> Message
                                        <span class="required">*</span>
                                    </label>
                                    <textarea placeholder="Your message here and I'll answer as soon as possible " required="required"></textarea>
                                </p>
                                <p class="indication">Fields with
                                    <span class="required"> * </span>are required</p>

                                <input type="submit" value=" Send this mail ! " />

                        </form>
                      </div>  
                </div>
           </section>                  
           
           <footer id="footer" style="background-color:#292b34;">
            <div class="container">
                <center style="color:#fff;">
                <div class="container">
                    <div class="well well-sm main-footer"  style="background-color:#292b34; border:0px">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h1 class="title-footer">
                                            Nice of you to visit</h1>
                                    </div><!--end .col-md-4-->
                                    <div class="col-md-4 contact-email">
                                        
                                        <h3>
                                            © Copyright Hiday eichler 2016</h3>
                                    </div><!--end .col-md-4 .contact-email-->
                                    <div class="col-md-4">
                                        <div class="row contact row-first">
                                            <div class="col-md-6">
                                                <a href="skype:nico.plyley?chat" class="skype aa"><i class="fa fa-skype"></i>Facebook</a>
                                            </div><!--end .col-md-6-->
                                            <div class="col-md-6">
                                                <a href="http://instagram.com/nicoplyley" class="instagram aa"><i class="fa fa-instagram"></i>Instagram</a>
                                            </div><!--end .col-md-6-->
                                        </div><!--end .row .contact .row-first-->
                                        <div class="row contact">
                                            <div class="col-md-6">
                                                <a href="http://facebook.com/nicoplyley" class="facebook aa"><i class="fa fa-facebook"></i>Mail</a>
                                            </div><!--end .col-md-6-->
                                            <div class="col-md-6">
                                                <a href="http://twitter.com/nicoplyley" class="twitter aa"><i class="fa fa-twitter"></i>Twitter</a>
                                            </div><!--end .col-md-6-->
                                        </div><!--end .row .contact-->
                                    </div><!--end .col-md-6-->
                                </div><!--end .row-->
                            </div><!--end .col-md-12-->
                        </div><!--end .row-->
                    </div><!--end .well .well-sm .main-footer-->
                </div><!--end .container-->
                </center>
            </div><!--end .container-->
       </footer><!--end #footer-->
    <!-- Sticky Footer -->
    